<br>
    <div class="container">

        <div class="row row-cols-1 g-3">
            <div class="col">
                <table class="table table-striped">
                    <tr>
                        <th>Category ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Created Date</th>
                        <th>Events Count</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let category of categories">
                        <td>{{category.categoryId}}</td>
                        <td>{{category.name | pipeUppercase}}</td>
                        <td>{{category.description}}</td>
                        <td>{{category.image}} <img src= {{category.image}} width="100" height="60"/> </td>
                        <td>{{category.createdAt|pipeDateFormat}}</td>
                        <td>{{category.eventsList.length}}</td>
                        <td><button type="submit" class="btn btn-primary" (click)="onDeleteCategory(category)">Delete</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
