<div class="album py-5">
    <div class="container">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card shadow-sm custom-card">
                <div class="card-body">
                    <div class="section">
                        <h4 style="margin-top: 20px; font-size: 20px; text-align: center;">Text-to-Speech Feature</h4>
                        <div class="form-group py-sm-3 mb-0">
                            <label for="text">Text to translate: </label>
                            <textarea type="text" class="form-control" id="text" style="height: 100px;" name="text" [(ngModel)]="text">
                            </textarea>
                        </div>
                        <div *ngIf="convertSuccessful">
                            <label for="text">Converted Speech: </label>
                            <br>
                            <audio controls style="margin-top: 10px;">
                                <source [src]="audioUrl" type="audio/mpeg">
                            </audio>
                        </div>
                        <button style="margin-top: 20px;" type="submit" class="btn btn-primary" (click)="sendText()">Convert To Speech</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
