<br>
<div class="container" style="text-align: center; ">
    <div class="row justify-content-center">

      <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="card" style="width: 12rem; height: 8rem;">
          <div class="card-body">
            <div class="card-header" style="text-align: center; font-size: 15; ">
                Events 
            </div>
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title"> {{records[0]?.eventsCount}} </h5>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="card" style="width: 12rem; height: 8rem;">
          <div class="card-body">
            <div class="card-header" style="text-align: center; font-size: 15; ">
                Categories 
            </div>
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title"> {{records[0]?.categoriesCount}} </h5>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>